{
    email {$CADDY_EMAIL}
}

# Pi-hole Admin Interface
pihole.{$DOMAIN} {
    @internal {
        remote_ip {$WIREGUARD_NETWORK}
    }

    @external {
        not remote_ip {$WIREGUARD_NETWORK}
    }

    handle @internal {
        reverse_proxy pihole:8081
    }

    handle @external {
        basic_auth /admin {
            admin {$PIHOLE_WEBPASSWORD_HASH}
        }

        @root path /
        redir @root /admin 301

        reverse_proxy /admin/* pihole:8081 {
            header_up Host {host}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-Port {server_port}
        }

        reverse_proxy pihole:8081
    }
}

# Home Assistant Interface
homeassistant.{$DOMAIN} {
    @internal {
        remote_ip {$WIREGUARD_NETWORK}
    }

    @external {
        not remote_ip {$WIREGUARD_NETWORK}
    }

    handle @internal {
        reverse_proxy homeassistant:8123
    }

    handle @external {
        basic_auth / {
            {$HOMEASSISTANT_USERNAME} {$HOMEASSISTANT_PASSWORD_HASH}
        }

        reverse_proxy homeassistant:8123 {
            header_up Host {host}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-Port {server_port}
        }

        header {
            Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        }
    }
}

# Calibre-Web Interface
calibre.{$DOMAIN} {
    @internal {
        remote_ip {$WIREGUARD_NETWORK}
    }

    @external {
        not remote_ip {$WIREGUARD_NETWORK}
    }

    handle @internal {
        reverse_proxy calibre:8082
    }

    handle @external {
        basic_auth / {
            {$CALIBRE_USERNAME} {$CALIBRE_PASSWORD_HASH}
        }

        reverse_proxy calibre:8082 {
            header_up Host {host}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-Port {server_port}
        }

        header {
            Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        }
    }
}

# Static Site
{$STATIC_SITE_SUBDOMAIN}.{$DOMAIN} {
    @internal {
        remote_ip {$WIREGUARD_NETWORK}
    }

    @external {
        not remote_ip {$WIREGUARD_NETWORK}
    }

    handle @internal {
        reverse_proxy static_site:8083
    }

    handle @external {
        basic_auth / {
            {$STATIC_SITE_USERNAME} {$STATIC_SITE_PASSWORD_HASH}
        }

        reverse_proxy static_site:8083 {
            header_up Host {host}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-Port {server_port}
        }

        header {
            Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        }
    }
}
